<h1>Welcome</h1>
<p>This is a basic chat app</p>

<div class="messages">
  <%= render @messages %>
  <%= form_for @message do |f| %>
    <div class="form-inline">
      <%= f.text_field :content, placeholder: "Message...", class: 'form-control', required: true %>
      <%= f.text_field :username, placeholder: "Username...", class: 'form-control' %>
      <%= f.submit "Send", class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
