<h1>Welcome</h1>
<p>Please choose a room</p>

<div class="list-group" style="margin-bottom: 20px">
<% Room.all.each do |room| %>
  <div class="list-group-item">
    <%= link_to room.name, room %>
    <span class="tag tag-primary tag-pill float-xs-right"><%= room.messages.size %></span>
  </div>
<% end %>
</div>

<%= form_for Room.new do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.submit "Create", class: 'btn btn-secondary' %>
  </div>
<% end %>
